# Python Basics: Getting Started

## What is Python?

The complicated answer is that Python is an [object oriented program](https://www.techtarget.com/searchapparchitecture/definition/object-oriented-programming-OOP), but what does that mean? What it means is that python is a program built around data and focuses on what the data is rather of what it does. Python allows you to turn data, no matter how large or small, into an object - creating it into something you can manipulate, change, and make useful for anything you need.

## Intro to Data Types in Python

There are two groups of [basic data types](https://en.wikiversity.org/wiki/Python_Concepts/Basic_data_types) in python that make up its foundation - **Single Elements**( _one piece of information_) and **Collections**( _groups of things which can be single elements themselves, other collections, or a mix of both_)

#### **Single Elements**
* **Integers**: Whole numbers ranging from infinity to infinity, such as 1, 100, 2000,ect. They can't be decimals

* **Floats**: These are usually decimals like 3.5 or 3.14

* **Strings**: A set of letters, numbers or any non-numeric characters. Usually denoted by quotation marks around them   ("  ")

* **Booleans**: Binary variables (only has two possibe values like True or False, or 1 or 0)

#### **Collections**

* **Lists**: This is a changeable sequence of data(you can change its order) and is contained by square brackets. *eg.``[10,20,30]``*

* **Tuples**: This is an unchangeable sequence of values (you cant change the order) The parentheses makes it a tuple. *eg.``(10,20,30)``*

* **Dictionaries**: Dictionaries contain a key and a value. The curly brackets and colons showing what a value is equal to define dictionaries. *eg.``{10:ten, 20:twenty, 30: banana}``*

You will always deal with Single Elements when you code, but Lists and Dictionaries are the most popular of all Collections Data Types. These elements create the foundation for building and creating tools in python.

## Variables in Python (Objects)

Variables are names that are assigned to specific values or data. They are used to create new objects and store the properties of our elements. These names can be pretty much anything you want, but there are a few best practices that are important to follow

#### Limitations:
* You cant use just use numbers as variable names (1, 0.5, 1/2), but numbers can be included in the name
* Names can't be the same as an already existing or default imported function (we'll talk about functions later)
* Names cannot contain spaces

#### Best Practices
* Names should be lowercase (python likes lowercase)
* You should pick names that tell you about the values in the element/object. So instead of just naming a variable thats supposed to represent the price of shoes `feetwear`, you can call it `price_shoes` to indicate that this variable represents the price of shoes

#### Creating Variables and Exploring Data Types

Lets apply some of this knowledge and also go over some best/common practices in python. We will create variables and use a function called `type` to check our data types

In [105]:
#Assigning an integer. We will name our variable/object x
x = 10
#Find data type
type(x)

int

In [23]:
#Assigning a float. We will name our number y
y = 1.5
#Find data type
type(y)

float

One important thing to also note is that you cannot have the same variable name for to different values. That will cause confusion, hence why we called our integer variable x and our float variable y

In [106]:
#Assigning a string. We will name our number y
a = 'name'
#Find data type
type(a)

str

Also remember that when we assign variables, we aren't for example saying that 'a' equals name, we are saying that `a` as been assigned the value of the string 'name'.

## Data Types Review

#### Booleans

This is used to check if something is tru or false. 
Lets use comparisons to explore Booleans

##### Comparisons
- Less than: `<`
- Greater than: `>`
- Less than or equal to: `<=`
- Greater than or equal to: `<=`
- Equals: `==`
- Does not equal: `!=`

We will name our variable B and set it equal to the comparison below, print it and print the its data type

In [45]:
b = 2>1
print(b)
type(b)

True

bool

Lets try another one

In [43]:
t = 2 < 1
print(t)
type(t)

False

bool

Booleans simply tell us whether an argument is true or false

#### Numeric Data Types: Floats and Integers

##### Operations 
Python allows us to do mathematical operations. We will complete a few and use the print function to see what their results are.

In [46]:
#Addition 
print(1 + 2)
#Subtraction
print(1 - 2)
#Multiplication
print(1 * 2)
#Division
print(1 / 2)

3
-1
2
0.5

In [ ]:
# You can also use the % sign to get remainders
5%3

2

#### Strings

As mentioned before strings are pretty much any character combination ib betweek two quotes

In [53]:
s = 'I love eating ice cream 2 times a day'
type(s)

str

##### String Indexing
One thing to note is indexing in python. An index helps you find the position of an element or an item in a string or list of characters. It comes in handy for manipulating data. 

Lets take a look at how this looks like using our element s

In [50]:
# We wnat to see what the first character in the string is.
s[0]

'I'

As you can see, index 0  tells us that the first letter in our string is I. The number endered after the variable name in brackets is called the index. Another important thing to not is that when counting in Python, you must start at 0 not 1.

In [59]:
#What if we want the first 6 characters
s[0:6]

'I love'

As you can see, even though we want the first 6 characters, we can only count 5. That is because our index also reads in spaces as part of the index.

In [55]:
#If we wanted to see the whole sentence we would index our variable like so:
s[:]

'I love eating ice cream 2 times a day'

In [61]:
#Another way to see the whole sentence
s[0:]

'I love eating ice cream 2 times a day'

In [68]:
#Can we index right side?
s[-1]

'y'

In addition to choosing a range of characters to see with indexing, you can also skip letters

In [69]:
#We want every second character starting at 0 and ending at 10:
s[0:10:2]

'Ilv a'

In [70]:
#We want to skip every other character-have a step size of 2
s[::2]

'Ilv aigiecem2tmsady'

#### Lists

As we discussed before, lists are composed of, ints, floats, strings, and even have other lists inside them as well. Lets create one.

In [88]:
#We will assign this list object as l and print the variable
l = [1, 2, 3, 4]
print(l)

[1, 2, 3, 4]

In [89]:
#We can also reassign it as another variable. 
a = l

In [75]:
print(a)

[1, 2, 3, 4]

In [80]:
#We can also have a list of strings 
names = ['Sabrina','Vivian', 'Tiffany', 'Chicago']

In [81]:
#lets print the variable
print(names)

['Sabrina', 'Vivian', 'Tiffany', 'Chicago']

Lists can also be sliced just like integers

In [87]:
names[0]

'Sabrina'

#### Tuple

As mentioned before, tuples are similar to lists but once they are reated, their values can't be changed. Here's an example.

In [90]:
p = (18, 39)
print(p)
print(type(p))

(18, 39)
<class 'tuple'>

These can also be sliced with indexing just like strings and lists

In [96]:
p[0:3]

(18, 39)

#### Dictionaries

As mentioned dictionaries are non-ordered Python data type. Instead of using an ordered index to access data stored in a dictionary, it uses a system of key-value pairs. 

Dictionaries are helpfule when:
- There are lots of elements and we dont want to remember which element number is which 
- When we don't care bout the order of things 

Lets look at an example of one.

In [99]:
values = {'code1':4.5,
          'code2':1.5,
          'code3':2.5}
print(type(values))
print(values)

<class 'dict'>
{'code1': 4.5, 'code2': 1.5, 'code3': 2.5}

As mentioned, the keys stay the same, but the values are changeable in several different ways. 
Lets change one of the keys to see what happens

In [100]:
values['code1'] = 'price'

In [101]:
print(values)

{'code1': 'price', 'code2': 1.5, 'code3': 2.5}

We can see that the value for code1 has been easily changed.

## Control Flow

The next sections will cover some common ways to design super efficient code in python. The first is the concept of control flow â€” with this we'll be able to return different results based on specific inputs. We will cover two main control flow structures - `if...else statements` and `for loops`

### `if...else` Statements

#### `if` Statement

An if statement is used for objects we can define as `True` or `False`. One very important thing to note about these statements and control flow in general is that indentation really matters. If your code is not indented properly it won't work the way it is intended. Lets look at an example

For this example, we'll right a line of code that will ask our program to print a string if 4 is equal to 4 without any indentations and with indentations.

In [11]:
if 4 == 4:
print('4 is definitely equal to 4')

IndentationError: expected an indented block (3409321928.py, line 2)

Notice we get an error telling us that program exected and indentation right before the word print. Now lets do that and see what we get

In [13]:
if 4 == 4:
    print('4 is definitely equal to 4')
    print('since this line is indented it will print next too')

4 is definitely equal to 4
since this line is indented it will print next too

The last but definitely not least important thing to note is ending our if statement with a colon(:). Without this, your code won't run and you'll get an error

In [14]:
if 4 == 4
    print('4 is definitely equal to 4')
    print('since this line is indented it will print next too')

SyntaxError: invalid syntax (876376954.py, line 1)

#### `if...else` statement

Most times, you will want to run some code for when the expression is equal to `True` AND when it is equal to `False`. This is done by adding `else` to our `if` statement. Note how it is at the same indentation level as the `if` statement, followed by a colon, followed by a code block. Let's see it in action.

For this example we will create an if statement that will evaluate whether a GPA is greater or less than a 2.5. A gpa greater than 2.5 will be considered good while a gpa less than 2.8 will be considered one that could....use some work. Change the gpa value a few times to see how your code responds

In [34]:
#First create an object called GPA and give it a value
gpa = 2.0

#Now lets create our if else statement
if gpa > 2.8:
    print('This is an okay gpa')
else:
    print('This gpa could use some work')

This gpa could use some work

#### `if` ... `elif` ... `else`

Simple `if..else` statements allow us to run code on two conditons, but what if we'd like to run a code based on more conditions that that? This is were `if`..`elif`..`else` statements would come in

`elif` stands for `else if`. It belongs on a line between the initial `if` statement and an (optional) `else`. Lets test it out. Be sure to change the input for your gpa object to see how your code behaves

In [35]:
gpa = 2.5

if gpa > 3.6:
    print('This is an exceptional gpa')
elif gpa > 3.2:
    print('This is a good gpa')
elif gpa > 2.8:
    print('This is an okay gpa')
else:
    print('Your gpa is a little low.')
    print('Have you considered tutoring?')

Your gpa is a little low.
Have you considered tutoring?

This code works by evaluating each condition in order. If a condition evaluates to `True`, the rest are skipped. This allows us to capture many different conditions in one block of code.

### `for` Loops

One of the biggest reasons people this programming language is to automate things repetitive tasks. One foundation of automation in python is the `for loop`

The `for loop` allows you to perform a task repeatedly on every element within an object, such as every name in a list.

This is an example of a `for loop` structure(pseudocode):

```python
# For each individual object in the list
    # perform task_A on said object.
    # Once task_A has been completed, move to next object in the list.
```

Say we wanted to print each of the names in a list, as well as "is really cool!" to each one to create a sentence. In this case, we'd create a temporary variable for each element in the collection (`for name in names` would put each name, in sequence, under the temporary variable `name`) and then do something with it. Lets test it out

In [59]:
#Lets first create our list 
names = ['Cole','Sabrina','Tiffany','Vivian','Jasmine']

#Now lets create a forloop to add 'is really cool!' to each name
for name in names:
    print(name + ' '+ 'is really cool!')

Cole is really cool!
Sabrina is really cool!
Tiffany is really cool!
Vivian is really cool!
Jasmine is really cool!

You can also include `if statements` in for loops

In [49]:
for name in names:
    if name == 'Sabrina':
        print(name + ' ' + 'is my best friend')
    elif name == 'Cole':
        print(name + ' ' + 'is my boyfriend')
    else:
        print(name + ' '+ 'is my friend')

Cole is my boyfriend
Sabrina is my best friend
Tiffany is my friend
Vivian is my friend
Jasmine is my friend

The `for loop` is a simple but crucially important syntax in python that is important to master.

## Functions in Python

Functions are blocks of code that performs a very specific task. They make manipulating data in python easier, especially if you need to do a specific task several times over and over again. Python has many built in functions (*Standard library functions*) but it also allows you to create functions (*User defined functions*) as well. Lets first go over common functions and then we will create our own function.

### Some Common Functions

#### print()
At this point you should have seen this function several times from the beginning of this workbook. This prints the text of an object to the screen.

In [107]:
print('i love cheese')

i love cheese

In [110]:
n = [2,3,5,7,8,10]

print(n)

[2, 3, 5, 7, 8, 10]

#### type()
This is another common function used to show data types of an object

In [111]:
type('i love cheese')

str

In [112]:
type(n)

list

In [113]:
type(1.5)

float

#### len()
This function will tell you how many elements there are in an object

In [115]:
#show us how many elements there are in list n
len(n)

6

In [116]:
#show us how many characters there are in this string
len('i love cheese')

13

#### .replace()
This is used usually to replace words and phrases in string objects. All occurences of the word througout the string object you pass it through will be replaced

In [125]:
#creating a string object
string = "i love cheese"
print(string)

i love cheese

In [127]:
#replacing the word love with hate 
new_string = string.replace('love','hate')
#print new string
print(new_string)

i hate cheese

#### .remove()
This is a function for lists that removes elements in a list you would like to get rid off

In [135]:
fruits = ['strawberry','blueberries','grapefruit','cherry']
print(fruits)

['strawberry', 'blueberries', 'grapefruit', 'cherry']

In [136]:
fruits.remove('strawberry')

In [137]:
print(fruits)

['blueberries', 'grapefruit', 'cherry']

#### .append()
This is a function used to add a new element to an existing list. We'll use our fruits list to show its capabilities

In [138]:
#current fruits list
print(fruits)

['blueberries', 'grapefruit', 'cherry']

In [141]:
#We should see that banana has been added to the list 
fruits.append('banana')
print(fruits)

['blueberries', 'grapefruit', 'cherry', 'banana', 'banana', 'banana']

### How to create your own functions in Python

As said before, Python gives you the ability to create functions and this is one of the most important skills when coding and building in the program. The syntax and the structure of functions is:

In [151]:
def function_name(parameters):
    #function body
    return

`def` - keyword used to declare a function

`function_name` - the name you will give your function

`parameters` - the values you will be passing through your function

`return` - this returns a value from a function, makes we can call our funtion using what we built inside it

Lets create a simple function. This function will be called greet

In [153]:
#funtion_name is greet 
#We have no parameters for this function
#The body of our function will print an introduction
def greet():
    print('Hello! My name is Annette')
    return

Now that we have created our function, we now have to call it

In [155]:
greet()

Hello! My name is Annette

Lets create another function that will allow us to create phrases

In [168]:
#function_name is  phrase
#parameters will be word_1 and word_2, strings
#For the body we'll create an object called combine which will allow us to add our words. We'll add a space between the words
#We will return our object so it exists outide the function
def phrase(word_1, word_2):
    combine = word_1 + ' ' + word_2
    return combine

In [169]:
#Now lets choose two strings(words) we'd like to combine into a phrase and pass them through our function
phrase('dream','big')

'dream big'

Lets create a function wich will allow us to add, multiply, and subtract numbers

In [172]:
def numeric(num1, num2):
    add = num1 + num2 
    product = num1 * num2
    difference = num1 - num2
    return add, product, difference

In [173]:
numeric(20,5)

(25, 100, 15)

The real power of functions is that once they are created, they can be called anytime to manipulate and change data - making them one of the most efficient ways to cut down on time when coding.
To show their power lets create a few lists of names. We will then create a function that will append the string 'is cool' to each name in a specified list. We will include a `for loop` in this function

In [101]:
# Different lists with different names
list_1 = ['Tiffany', 'Maggie', 'Cole']
list_2 = ['Sabrina', 'Vivian', 'Braceros']
list_3 = ['Kevin', 'Aimee', 'Angel']

In [102]:
#function_name will be called cool
#In the function we will have a forloop that will add "is cool" to each name in a string
def cool(input_list):
    for i in input_list:
        print(i + ' is cool')
    return

In [103]:
#Lets test our function on a list. Switch out the list name to see how our function behaves
cool(list_1)

Tiffany is cool
Maggie is cool
Cole is cool

In [104]:
cool(list_2)

Sabrina is cool
Vivian is cool
Braceros is cool

In [106]:
cool(list_3)

Kevin is cool
Aimee is cool
Angel is cool

Just as we can include `for loops` in function, we can also include `if else` statements. In python, everything builds of each other. Lets create another function that will

In [119]:
def description(list_name):
    for i in (list_name):
        if i[0] == 'A':
            print(i + ' is a beautiful name')
        elif i[0] == 'C':
            print(i + ' is a familiar name')
        else:
            print(i + ' is a nice name')
    return

In [120]:
description(names_2)

Sabrina is a nice name
Vivian is a nice name
Braceros is a nice name

### Throw-Aways

In [142]:
for n in range(1,21):
    string = ' '
    if n%3==0 and n%5==0:
        string = 'Fizzbuzz'
    if n%5==0:
        string =  'Buzz'
    if n%3==0:
        string =  'Fizz'
    if n%3 !=0 and n%5 !=0:
        string =  str(n)
    print(string)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz
16
17
Fizz
19
Buzz