In [1]:
import pandas as pd
import numpy as np
import psycopg2
from sqlalchemy import create_engine

In [2]:
hostname = 'localhost'
database = 'geo'
username = 'postgres'
pwd = '032197An'
port_id = 5432

In [3]:
try:    
    conn = psycopg2.connect(
        host = hostname,
        dbname = database,
        user = username,
        password = pwd,
        port = port_id)
except Exception as error:
    print(error)

In [4]:
cur = conn.cursor()

In [5]:
#Created a new database to in SQL to store the date
cur.execute('CREATE DATABASE austin')

ActiveSqlTransaction: CREATE DATABASE cannot run inside a transaction block

In [ ]:
#Deleted any tables named austin if they existed
cur.execute('DROP TABLE IF EXISTS apartments')

In [ ]:
#Created new table in database to collect the data in the dataframe
cur.execute("CREATE TABLE IF NOT EXISTS apartments (name VARCHAR(256), address VARCHAR(256),amenities VARCHAR(256), street VARCHAR(256), city VARCHAR(256), state VARCHAR(5), zipcode VARCHAR(10), minprice FLOAT, maxprice FLOAT, minbed INT, maxbed INT, building_type VARCHAR(5), date TIMESTAMP)")

In [ ]:
#Need to research more about this,
engine = create_engine('postgresql+psycopg2://postgres:032197An@localhost/geo')
engine

In [ ]:
apartments_df.to_sql('austin_apartments', engine, if_exists='append', index=False)

In [ ]:
conn.commit

In [ ]:
conn.close()